.page-positions {
  min-height: 85vh;
}

.pages-container {
  width: 80%;
  margin: 120px auto 10px auto;
}

.pages-container__title {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-container__title p {
  font-size: 50px;
}

.pages-container__sale {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .pages-container {
    width: 80%;
    margin: 80px auto 10px auto;
  }
  .pages-container__sale {
    display: block;
  }
}
